{{define "download"}}
<form method="POST" action="/generateText">
<div class="container">
  <div class="input-group mt-5 mb-5 md-form form-sm form-2 pl-0"> 
    <button type="button" class="btn btn-info"><i class="fa fa-download"></i> Download</button>
  </div>
</div>
</form>
{{end}}